[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
"psycopg2" = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
